*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .3s linear;
}
body{
    overflow: hidden;
    min-height: 100vh;
    background: #333;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #333 80%, #5c5cd6 20%);
}
.side-image > img{
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    width: 600px;
}
form{
    height: 400px;
    width: 350px;
    margin-left: 200px;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    text-align: center;
    color: #5c5cd6;
}
form h2{
    padding: 20px;
    line-height: 70px;
    font-size: 30px;
}
form .box{
    height: 50px;
    width: 80%;
    margin-top: 25px;
    padding: 0 20px;
    background: none;
    outline: none;
    border: none;
    caret-color: #5c5cd6;
    border-bottom: 2px solid #5c5cd6;
    color: white;
}
form i{
    margin-top: 40px;
    padding: 2px 0 0 10px;
}
form a{
    line-height: 50px;
    float: right;
    color:orange;
    padding: 0 30px;
}
form .btn{
    color:white;
    margin-top: 25px;
    height: 45px;
    width: 90%;
    background: #5c5cd6;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
}
form .btn:hover{
    opacity: .6;
}

input[type="checkbox"]{
    display: none;
}
.controls{
    position: absolute;
    top: 5px;
    left: 5px;
}
.controls > label{
    display: block;
    height: 40px;
    width: 100px;
    box-shadow: 0 0 5px inset;
    border-radius: 50px;
    background: #333;
    position: relative;
}
.controls > label::before{
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    height: 32px;
    width: 32px;
    background: #f7f7f7;
    border-radius: 50%;
    cursor: pointer;
    transition: .3x;

}
#switch:checked ~ .controls > label::before{
    left: 63px;
    background: #333;
}
#switch:checked ~ .controls > label{
    background: #f7f7f7;
}
#switch:checked ~ .container{
    background: linear-gradient(45deg, #f7f7f7 80%, #5c5cd6 20%);
}
#switch:checked ~ .container > form > .box{
    color:black;
}





@media (max-width:1300px){
    .side-image > img{
        width: 400px;
    }
    form{
        margin-left: 0;
    }
}
@media (max-width:1120px) {
    .side-image > img{
        display: none;
    }
}
@media (max-width:600px) {
    .container{
        background: #333;
    }
    #switch:checked ~ .container{
        background: #f7f7f7;
    }
}